<mat-toolbar color="primary">
  <span>SUPERHEROES</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openAddEditEmpForm()">Añadir</button>
</mat-toolbar>

<div class="main-body">

  <mat-form-field>
    <mat-label>Filtrar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar los superheroes" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Definición de columnas -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <ng-container matColumnDef="nombre_real">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Real</th>
        <td mat-cell *matCellDef="let row">{{row.nombre_real}}</td>
      </ng-container>

      <ng-container matColumnDef="nombre_heroe">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Heroe</th>
        <td mat-cell *matCellDef="let row">{{row.nombre_heroe}}</td>
      </ng-container>

      <ng-container matColumnDef="ano_primera_aparicion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Año Primera Aparición</th>
        <td mat-cell *matCellDef="let row">{{row.ano_primera_aparicion}}</td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Género</th>
        <td mat-cell *matCellDef="let row">{{row.gender}}</td>
      </ng-container>

      <ng-container matColumnDef="superpoderes">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Superpoderes</th>
        <td mat-cell *matCellDef="let row">{{row.superpoderes}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Actiones</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="openEditForm(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="confirmDelete(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Definición de filas -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Mensaje cuando no hay datos -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="8">NO HAY SUPERHEROES "{{input.value}}" </td>
      </tr>
    </table>

    <!-- Paginación -->

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10,20,30,]" showFirstLastButtons></mat-paginator>



  </div>
</div>
